@import 'tailwindcss';

@layer base {
  @media (prefers-reduced-motion) {
    *,
    *::before,
    *::after {
      animation-duration: 0s !important;
      transition: none !important;
      scroll-behavior: auto !important;
    }
  }

  h1 {
    @apply pb-8 text-4xl font-medium text-sky-700 dark:text-sky-400;
  }

  h2 {
    @apply pb-8 text-3xl font-medium text-sky-700 dark:text-sky-400;
  }

  h3 {
    @apply pb-8 text-2xl font-medium text-sky-700 dark:text-sky-400;
  }

  ol,
  ul,
  menu {
    list-style: revert;
    list-style-position: inside;
    padding-inline-start: 0.75rem;

    li ol,
    li ul,
    li menu {
      padding-inline-start: 1.5rem;
    }
  }
}
