@import 'tailwindcss';

@layer base {
  @media (prefers-reduced-motion) {
    *,
    *::before,
    *::after {
      animation-duration: 0s !important;
      transition: none !important;
      scroll-behavior: auto !important;
    }
  }

  h1 {
    @apply pb-8 text-4xl font-semibold text-sky-700 sm:text-5xl dark:text-sky-500 contrast-more:dark:text-sky-400;
  }

  h2 {
    @apply pb-8 text-3xl font-semibold text-sky-700 sm:text-4xl dark:text-sky-500 contrast-more:dark:text-sky-400;
  }

  h3 {
    @apply pb-8 text-2xl font-semibold text-sky-700 sm:text-3xl dark:text-sky-500 contrast-more:dark:text-sky-400;
  }

  hr {
    @apply -m-px my-8 h-px border-none bg-zinc-300 dark:bg-zinc-600;
  }
}
