@import 'tailwindcss';

@layer base {
  @media (prefers-reduced-motion) {
    *,
    *::before,
    *::after {
      animation-duration: 0s !important;
      transition: none !important;
      scroll-behavior: auto !important;
    }
  }

  h1 {
    @apply pb-8 text-4xl font-medium text-sky-700 not-first:mt-8 dark:text-sky-400;
  }

  h2 {
    @apply pb-8 text-3xl font-medium text-sky-700 not-first:mt-8 dark:text-sky-400;
  }

  h3 {
    @apply pb-8 text-2xl font-medium text-sky-700 not-first:mt-8 dark:text-sky-400;
  }

  hr {
    @apply my-8 h-px border-none bg-zinc-300 dark:bg-zinc-600;
  }

  label {
    @apply font-medium text-sky-800 dark:text-sky-400;
  }

  ol,
  ul,
  menu {
    list-style: revert;
    list-style-position: inside;
    @apply ps-3 pb-4;

    li ol,
    li ul,
    li menu {
      @apply ps-6 pb-0;
    }
  }
}
